<form method="POST" action="{{ " profile/save"|absUrl }}">
    <div class="mb-3">
        <label for="display-name" class="form-label">Display Name:</label>
        <input type="text" id="display-name" name="display-name" required class="form-control" value="{{ user.name }}">
    </div>

    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" id="username" name="username" required class="form-control" value="{{ user.username }}">
    </div>

    <div class="mb-4 mt-4">
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</form>
