/src/Vendor/
node_modules
src/Cache/*
src/Config/Config.yaml
src/Config/Pages.yaml
.php-cs-fixer.cache
src/php_error.log
/.phpunit.cache
/reports
/src/Themes/Default/Assets/build
/tmp
/src/Plugins/Example
src/Config/Users.yaml
