parameters:
	level: 5
	paths:
		- src
	excludePaths:
		analyse:
		- src/Vendor
		- src/Cache
		- src/Plugins
	ignoreErrors:
		- '#^Call to an undefined method AntCMS\\Cache\:\:get\(\)\.$#'
		- '#^Call to an undefined method AntCMS\\Cache\:\:purge\(\)\.$#'
