<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" bootstrap="tests/Bootstrap.php" executionOrder="depends,defects" beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true" cacheDirectory=".phpunit.cache" requireCoverageMetadata="false" beStrictAboutCoverageMetadata="true">
  <testsuites>
    <testsuite name="default">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/Vendor</directory>
      <directory suffix=".php">src/Cache</directory>
      <directory suffix=".php">src/index.php</directory>
      <directory suffix=".php">src/cron.php</directory>
      <directory suffix=".php">src/AntCMS/Enviroment.php</directory>
      <directory suffix=".php">src/AntCMS/Auth.php</directory>
      <directory suffix=".php">src/AntCMS/Users.php</directory>
    </exclude>
  </source>
</phpunit>
