<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd" bootstrap="/src/Vendor/autoload.php" cacheResultFile=".phpunit.cache/test-results">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
        <report>
            <xml outputFile="coverage.xml"/>
        </report>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Vendor</directory>
        </exclude>
    </coverage>
    <php>
        <server name="REQUEST_URI" value="/index.md" />
    </php>
</phpunit>
