<h1>Page Management</h1>
<p>Create new page</p>
<form method="post" action="{{ "admin/pages/edit"|absUrl }}">
    <div>
        <label for="input">URL for new page: {{ BaseURL }} </label>
        <input type="text" name="newpage" id="input">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>
