<form method="POST" action="{{ "profile/save"|absUrl }}">
    <div class="mb-4">
        <label for="display-name" class="block font-medium mb-2">Display Name:</label>
        <input type="text" id="display-name" name="display-name" required class="border-gray-400 border-2 rounded-lg w-full py-2 px-3 text-gray-700" value="{{ user.name }}">
    </div>

    <div class="mb-4">
        <label for="username" class="block font-medium mb-2">Username:</label>
        <input type="text" id="username" name="username" required class="border-gray-400 border-2 rounded-lg w-full py-2 px-3 text-gray-700" value="{{ user.username }}">
    </div>

    <div class="mb-4 mt-4">
        <input type="submit" value="Save Changes" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-lg">
    </div>
</form>
