<h1>AntCMS Profile Plugin</h1>
<p>Welcome, {{ user.name }}. Below are all of the available options for you.</p>
<a href="{{ "profile/edit"|absUrl }}">Edit Profile</a> |
<a href="{{ "profile/resetpassword"|absUrl }}">Reset Password</a> |
<a href="{{ "profile/logout"|absUrl }}">Logout</a>
