<form method="POST" action="{{ "profile/save"|absUrl }}">
    <div class="mb-4">
        <label for="password" class="block font-medium mb-2">New Password:</label>
        <input type="password" id="password" name="password" required class="border-gray-400 border-2 rounded-lg w-full py-2 px-3 text-gray-700">
    </div>

    <div class="mb-4 mt-4">
        <input type="submit" value="Save Changes" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-lg">
    </div>
</form>
