RewriteEngine On
CGIPassAuth On

# If the requested file is an asset, serve it directly
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^Themes/[^/]+/Assets/.+$ - [L]

# Allow access to the robots.txt file
RewriteRule ^robots\.txt$ - [L]

# Allow access to the sitemap.xml file
RewriteRule ^sitemap\.xml$ - [L]

RewriteRule ^(.+)$ index.php [L,QSA]
