{% for page in pages %}
{% if page.active %}
<li class="nav-item active">
    <a class="nav-link" href="{{ page.url }}">{{ page.pageTitle }}</a>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="{{ page.url }}">{{ page.pageTitle }}</a>
</li>
{% endif %}
{% endfor %}