<form action="{{ AntCMSActionURL }}" method="post">
  <textarea name="textarea" rows="25" cols="75" type="text" <textarea id="markdown-input" name="textarea" rows="100"
    style="width: 100%; height: 100%;" class="form-control">{{ AntCMSTextAreaContent }}</textarea>
  <input type="submit" value="Save">
</form>
